.div{
    text-align: center;
    background-color: rgb(69, 179, 22);
    border: 1px solid black;
    box-shadow: 0 0 12px 2px black;
    margin: 20px 30px;
    border-radius: 10px;
    padding: 20px 10px;
}

h1{
    color: white;
    font-size: 35px;
}

p{
    margin: 12px;
    font-size: 24px;
    font-weight: bold;
}
 
.input{
    padding: 10px 5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border: none;
    border-radius: 6px;
    outline: none;
    margin: 20px 10px;
}

.button{
    background-color: rgb(21, 45, 222);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
}

.button:hover{
    background-color: white;
    color: green;
}

.button:disabled{
    background-color: gray;
    cursor: not-allowed;
}

.parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.user,
.computer{
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 2px black;
    width: 100px;
    margin-bottom: 50px;
}

input{
    max-width: 50px;
    font-size: 24px;
    border: none;
    border-radius: 6px;
    color: black;
    padding: 5px 8px;
}

.result{
    font-size: 25px;
    color: white;
    font-weight: 300;
}